{% extends 'base.html' %}

{% block container %}

<!-- {% include 'dash.html' %} -->
<div class="col-md-3">
    
</div>
  
  <div class="col-md-5">
    <div id="main-bill-panel" class="panel panel-primary">
      <h1 class="panel-heading">Details for {% print id_bill_json.bill_id %}</h1>
      <div class="panel-body">
        <div class="billsummary">{% print id_bill_json.title %}</div>
        <div class="panel-group">
          <div class="panel panel-info">
            <div class="panel-heading">
             <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">Show bill actions</a>
            </h4>
           </div>
          <div id="collapse1" class="panel-collapse collapse">
            {% for action in id_bill_json.actions %}
            <div class="panel-body lastaction">
              {% print action.date %} - {% print action.action %}
            </div>
            {% endfor %}
          </div>
         </div>
        </div>
    
        <div panel-group>
          <div class="panel panel-info">
            <div class="panel-heading">Votes on {% print id_bill_json.bill_id %}</div>
              <div id="roll-call-tables">
                {% for vote in id_bill_json.votes %}
                <div class="roll-call-table-outer yes-votes">
                  <h4>Aye Votes<span class="vote-count"> ({% print vote.yes_count %})</span><br /> <span class="{% print vote.chamber %}">{% print vote.motion %}</span></h4>

                  <table class="roll-call">
                    <thead>
                      <th class="member">Member</th>
                      <th class="party">Party</th>
                    </thead>
                    <tbody>
                    {% for yes_vote in vote.yes_votes %}
                      <tr><td>
                        {% if yes_vote.leg_id %}
                        <a href="{{ url_for('idleg.lawmaker', legid=yes_vote.leg_id) }}">{% print yes_vote.name %}</a>
                        {% else %}
                        {% print yes_vote.name %}
                        {% endif %}
                        </td><td>?</td></tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                  
                <div class="roll-call-table-outer no-votes">
                  <h4>Nay Votes<span class="vote-count">({% print vote.no_count %})</span></h4>
                  
                  <table class="roll-call">
                    <thead>
                      <th class="member">Member</th>
                      <th class="party">Party</th>
                    </thead>
                    <tbody>
                    {% for no_vote in vote.no_votes %}
                      <tr><td>
                        {% if no_vote.leg_id %}
                        <a href="{{ url_for('idleg.lawmaker', legid=no_vote.leg_id) }}">{% print no_vote.name %}</a>
                        {% else %}
                        {% print no_vote.name %}
                        {% endif %}
                        </td><td>?</td></tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                
                <div class="roll-call-table-outer other-votes">
                  <h4>Did Not Vote<span class="vote-count">({% print vote.other_count %})</span></h4>
                  
                  <table class="roll-call">
                    <thead>
                      <th class="member">Member</th>
                      <th class="party">Party</th>
                    </thead>
                    <tbody>
                    {% for other_vote in vote.other_votes %}
                     <tr><td>
                       {% if other_vote.leg_id %}
                       <a href="{{ url_for('idleg.lawmaker', legid=other_vote.leg_id) }}">{% print other_vote.name %}</a>
                       {% else %}
                       {% print other_vote.name %}
                       {% endif %}
                       </td><td>?</td></tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </div>
    
    {% include "footer.html" %}
    
  </div>
  
 
 {#
      <div class="form-group">
        <form role="form">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="bill_num" value="{{ bill.bill_id }}" />
          {{ comment_form.comment(rows="4", placeholder="Write comments or testimony here, select pro, neutral or anti, and press Submit.", class="form-control") }}
          <div class="form-group">{{ comment_form.position(class="radio-inline", type="radio") }}
            <button id="submitcomment" type="submit" class="btn btn-default">Add testimony</button></div>
        </form>
      </div>
      <hr />
      <div class="pro"><h3>Yea</h3>
        <span>Joe  says:</span> Yep <br />
        Today<br />
        {% if bill.comments %}
          {% for comment in bill.comments %}
            <p>{{ comment.body }}</p>
          {% endfor %}
        {% endif %}
      </div>
  
      <div class="neutral"><h3>Neutral</h3>
        <span>Jill says:</span> Maybe <br />
        Yesterday<br />
      </div>
  
      <div class="anti"><h3>Nay</h3>
        <span>Mom says:</span> Nope <br />
        Tomorrow<br />
      </div>
      
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="panel-footer pagination"></div>
  </div>
</div>

#}
  
{% endblock %}

