{% block container %}
  
  <div id="billsSort" class="billmain">
    
     <input class="search" placeholder="Search bill summaries" />
     <button class="sort" data-sort="billsummary">
       Sort by name
     </button>
     <div class="filter">
       <button class="btn" id="filter-none">Show all</button>
       <button class="btn" id="filter-senate">Only show Senate bills</button>
       <button class="btn" id="filter-house">Only show House bills</button>
     </div>
    <div class="list">  
    {% for bill in id_bills: %}
      <div class="activebills">
        <p>Active Bills</p>
        <div class="billimage"><span>{% print bill.bill_id %}</span></div>
        <div class="lastaction">Last Action: {% print bill.updated_at %}</div>
        <div class="billsummary">{% print bill.title %}</div>
      </div>
    {% endfor %}
    </div>     
    <div class="pagination"></div>
  </div>

    <script type="text/javascript">
      var options = {
        valueNames: [ 'billimage', 'lastaction', 'billsummary' ],
        page: 10,
        plugins: [ ListPagination({}) ] 
      };
  
      var billsList = new List('billsSort', options);
    
      $('#filter-senate').click(function() {
        billsList.filter(function(item) {
          if (item.values().billsummary.startsWith('S',0)) {
            return true;
          } else {
            return false;
          }
        });
        return false;
      });

      $('#filter-house').click(function() {
        billsList.filter(function(item) {
          if (item.values().billsummary.startsWith('H',0)) {
            return true;
          } else {
            return false;
          }
        });
        return false;
      });
      
      $('#filter-none').click(function() {
        billsList.filter();
        return false;
       });
    </script>

{#
<!--       
        <div class="comments">
          <div class="commentbox">
            <form name="commentForm" action="lib/handler.php" method="POST">
            <textarea name="comment" rows="4" id="comment" placeholder="Write comments or testimony here, select pro, neutral or anti, and press Submit."></textarea>
            <label>Yea, Nay or Neutral?</label>
            <label><input type="radio" name="vote" value="pro" id="pro" /><img class="prolabel" src="{{ url_for('static', filename="images/thumbs_up.png") }} />
            </label>
            <label><input type="radio" name="vote" value="anti" id="anti" /><img class="antilabel" src="{{ url_for('static', filename="images/thumbs_down.png") }} />
            </label>
            <label class="neutrallabel">
            <input type="radio" name="vote" value="neutral" id="neutral" checked="checked" />?</label>
            <input type="submit" name="commentButton" value="Submit" />
            <input type="hidden" name="form" value="comment" />
            # <input type="hidden" name="bill" value="print bill.bill_id" /> 
            </form>
          </div>
      
          <div class="pro"><h3>Yea</h3>
            <span>Joe  says:</span> Yep <br />
            Today<br /> 
          </div> 
      
          <div class="neutral"><h3>Neutral</h3>
            <span>Jill says:</span> Maybe <br />
            Yesterday<br /> 
          </div>
      
          <div class="anti"><h3>Nay</h3>
            <span>Mom says:</span> Nope <br />
            Tomorrow<br /> 
          </div>
        </div>
      </div>
  </div>  -->   
  
  #}

{% endblock %}
