{% extends 'base.html' %}

{% block container %}

<!-- {% include 'dash.html' %} -->
<div class="col-md-2"></div>
  
<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Bill Detail</h2>
      <div><span class="billimage">{% print id_bill_json.bill_id %}</span></div>
      <div class="lastaction">Last Update: {% print id_bill_json.updated_at %}</div>
      <div class="billsummary">{% print id_bill_json.title %}</div>
      <h3> <!-- <div class="sponsor">Committee: {% print id_bill_json['sponsors'][0]['name'] %}</div> -->
      <div class="status">Bill Status:
        {% if id_bill_json['action_dates']['first'] %}
          <span class="label label-default">Intro {%print id_bill_json.action_dates.first|replace("00:00:00","") %}</span>
        {% endif %}
        {% if id_bill_json['action_dates']['passed_lower'] %}
          <span class="label label-info">House {%print id_bill_json.action_dates.passed_lower|replace("00:00:00","") %}</span>
        {% endif %}
        {% if id_bill_json['action_dates']['passed_upper'] %}
          <span class="label label-warning">Senate {%print id_bill_json.action_dates.passed_upper|replace("00:00:00","") %}</span>
        {% endif %}
        {% if id_bill_json['action_dates']['signed'] %}
          <span class="label label-success">Signed {%print id_bill_json.action_dates.signed|replace("00:00:00","") %}</span>
        {% endif %}
      </div></h3>
      <div class="source"><a href="{% print id_bill_json['sources'][0] %}">Source</a></div>
    </div>
      
        <div class="panel-group"> <!-- Votes Panel -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">Votes on {% print id_bill_json.bill_id %}
              </h4><span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span></a>
            </div>
            
            <div id="collapse2" class="panel-collapse collapse">
              <div class="voteList">
              {% if id_bill_json['votes'][0] %}
              <div class="col-md-6">
                <table class="table table-hover table-responsive table-condensed">
                  <thead>
                    <tr>
                      <th></th>
                      <th colspan="3">
                          {% if id_bill_json['votes'][0]['chamber'] == "lower" %}
                            House Vote<sup><a href="#vote1">[1]</a></sup>
                          {% else %}
                            Senate Vote<sup><a href="#vote1">[1]</a></sup>
                          {% endif %}
                      </th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>Republican</th>
                      <th>Democrat</th>
                      <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Aye</td>
                        <td class="rVote"></td>
                        <td class="dVote"></td>
                        <td class="voteTot">{% print id_bill_json['votes'][0]['yes_count']|default('N/A', true) %}</td>
                      </tr>
                      <tr>
                        <td>Nay</td>
                        <td class="rVote"></td>
                        <td class="dVote"></td>
                        <td class="voteTot">{% print id_bill_json['votes'][0]['no_count']|default('N/A') %}</td>
                        
                      </tr>
                      <tr>
                        <td>Did Not Vote</td>
                        <td class="rVote"></td>
                        <td class="dVote"></td>
                        <td class="voteTot">{% print id_bill_json['votes'][0]['other_count']|default('N/A') %}</td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
                  {% else %}
                  No votes yet
                  {% endif %}
                <div class="col-md-6">
                {% if id_bill_json['votes'][1] %}
                <table class="table table-hover table-responsive table-condensed">
                  <thead>
                    <tr>
                      <th colspan="3">
                      {% if id_bill_json['votes'][1] %}
                        {% if id_bill_json['votes'][1]['chamber'] == "upper" %}
                          Senate Vote<sup><a href="#vote2">[2]</a></sup>
                        {% else %}
                          House Vote<sup><a href="#vote2">[2]</a></sup>
                        {% endif %}
                      {% else %}
                        N/A
                      {% endif %}
                    </th>
                  </tr>

                  <tr>
                    <th>Republican</th>
                    <th>Democrat</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="rVote"></td>
                    <td class="dVote"></td>
                    <td class="voteTot">{% print id_bill_json['votes'][1]['yes_count'] %}</td>
                  </tr>
                  <tr>
                    <td class="rVote"></td>
                    <td class="dVote"></td>
                    <td class="voteTot">{% print id_bill_json['votes'][1]['no_count'] %}</td>
                  </tr>
                  <tr>
                  <td class="rVote"></td>
                        <td class="dVote"></td>
                        <td class="voteTot">{% print id_bill_json['votes'][1]['other_count'] %}</td>
                  </tr>
                </table>
                {% else %}
                  No votes yet
                 {% endif %}
              </div>
              <div class="voteTables">
                <div class="col-md-6">
                  {% if id_bill_json['votes'][0] %}
                  <table class="table table-responsive table-hover table-condensed">
                    <thead>
                      <tr>
                        <th colspan="4">
                          {% if id_bill_json['votes'][0]['chamber'] == "lower" %}
                          House Vote
                          {% else %}
                          Senate Vote
                          {% endif %}</th>
                        </tr>
                        <tr>
                        <th class="member">Member</th>
                        <th class="party">Party</th>
                        <th class="district">District</th>
                        <th class="vote">Vote</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for vote in id_bill_json['votes'][0]['yes_votes'] %}
                      <tr class="{{ loop.cycle('odd', 'even') }}">
                        <td>
                          {% if vote.leg_id %}
                            <a href="{{ url_for('idleg.lawmaker', legid=vote.leg_id) }}">{% print vote.name %}</a>
                          {% else %}
                            {% print vote.name %}
                          {% endif %}
                        </td>
                        <td>
                        {% if lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Republican" %}
                        R
                        {% elif lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Democratic" %}
                        D
                        {% else %}
                        
                        {% endif %}
                        </td>
                      
                        <td>{% print lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="district")|first %}</td>
                        <td class='aye'>Aye</td>
                      </tr>
                      {% endfor %}
                      {% for vote in id_bill_json['votes'][0]['no_votes'] %}
                      <tr class="{{ loop.cycle('odd', 'even') }}">
                        <td>
                          {% if vote.leg_id %}
                            <a href="{{ url_for('idleg.lawmaker', legid=vote.leg_id) }}">{% print vote.name %}</a>
                          {% else %}
                            {% print vote.name %}
                          {% endif %}
                        </td>
                        <td>
                        {% if lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Republican" %}
                        R
                        {% elif lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Democratic" %}
                        D
                        {% else %}
                        
                        {% endif %}
                        </td>
                        <td>{% print lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="district")|first %}</td>
                        <td class='nay'>Nay</td>
                      </tr>
                      {% endfor %}
                      {% for vote in id_bill_json['votes'][0]['other_votes'] %}
                      <tr class="{{ loop.cycle('odd', 'even') }}">
                        <td>
                          {% if vote.leg_id %}
                            <a href="{{ url_for('idleg.lawmaker', legid=vote.leg_id) }}">{% print vote.name %}</a>
                          {% else %}
                            {% print vote.name %}
                          {% endif %}
                        </td>
                        <td>
                        {% if lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Republican" %}
                        R
                        {% elif lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Democratic" %}
                        D
                        {% else %}
                        
                        {% endif %}
                        </td>
                        <td>{% print lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="district")|first %}</td>
                        <td class='other'>No Vote</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% else %}
                  No votes yet
                  {% endif %}
                  </div>
                  
                  <div class="col-md-6">
                    {% if id_bill_json['votes'][1] %}
                  <table class="table table-responsive table-hover table-condensed">
                    <thead>
                      <tr>
                        <th colspan="4">
                          {% if id_bill_json['votes'][1]['chamber'] == "upper" %}
                          Senate Vote
                          {% else %}
                          House Vote
                          {% endif %}</th>
                        </tr>
                        <tr>
                        <th class="member">Member</th>
                        <th class="party">Party</th>
                        <th class="district">District</th>
                        <th class="vote">Vote</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for vote in id_bill_json['votes'][1]['yes_votes'] %}
                      <tr class="{{ loop.cycle('odd', 'even') }}">
                        <td>
                          {% if vote.leg_id %}
                            <a href="{{ url_for('idleg.lawmaker', legid=vote.leg_id) }}">{% print vote.name %}</a>
                          {% else %}
                            {% print vote.name %}
                          {% endif %}
                        </td>
                        <td>
                        {% if lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Republican" %}
                        R
                        {% elif lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Democratic" %}
                        D
                        {% else %}
                        
                        {% endif %}
                        </td>
                        <td>{% print lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="district")|first %}</td>
                        <td class='aye'>Aye</td>
                      </tr>
                      {% endfor %}
                      {% for vote in id_bill_json['votes'][1]['no_votes'] %}
                      <tr class="{{ loop.cycle('odd', 'even') }}">
                        <td>
                          {% if vote.leg_id %}
                            <a href="{{ url_for('idleg.lawmaker', legid=vote.leg_id) }}">{% print vote.name %}</a>
                          {% else %}
                            {% print vote.name %}
                          {% endif %}
                        </td>
                        <td>
                        {% if lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Republican" %}
                        {% elif lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Democratic" %}
                        D
                        {% else %}
                        
                        {% endif %}
                        </td>
                        <td>{% print lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="district")|first %}</td>
                        <td class='nay'>Nay</td>
                      </tr>
                      {% endfor %}
                      {% for vote in id_bill_json['votes'][1]['other_votes'] %}
                      <tr class="{{ loop.cycle('odd', 'even') }}">
                        <td>
                          {% if vote.leg_id %}
                            <a href="{{ url_for('idleg.lawmaker', legid=vote.leg_id) }}">{% print vote.name %}</a>
                          {% else %}
                            {% print vote.name %}
                          {% endif %}
                        </td>
                        <td>
                        {% if lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Republican" %}
                        R
                       {% elif lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="party")|first == "Democratic" %}
                        D
                        {% else %}
                        
                        {% endif %}
                        </td>
                        <td>{% print lawmakers|selectattr("leg_id","equalto", vote.leg_id)|map(attribute="district")|first %}</td>
                        <td class='other'>No Vote</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                  <p><a name="vote1"></a>[1] Motion: {% print id_bill_json['votes'][0]['motion'] %}</p>
                  <p><a name="vote2"></a>[2] Motion: {% print id_bill_json['votes'][1]['motion'] %}</p>
                {% else %}
                  No votes yet
                {% endif %}
                  </div>
                  
                </div> <!--end voteList-->
              </div>
            </div>
          </div>
          </div>
          
          <div class="panel-group actions"> <!-- Bill Actions Panel -->
          <div class="panel panel-info">
            <div class="panel-heading">
             <h4 class="panel-title"><a data-toggle="collapse" href="#collapse1">Show bill actions
            </h4><span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span></a>
           </div>
           
          <div id="collapse1" class="panel-collapse collapse">
            {% for action in id_bill_json.actions %}
            <div class="panel-body lastaction">
              <b>{% print action.date|replace("00:00:00","") %}</b> - {% print action.action %}
            </div>
            {% endfor %}
          </div>
         </div>
        </div>
    
          
        </div>
    
    {% include "footer.html" %}
    
      </div>
  
 
 {#
      <div class="form-group">
        <form role="form">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="bill_num" value="{{ bill.bill_id }}" />
          {{ comment_form.comment(rows="4", placeholder="Write comments or testimony here, select pro, neutral or anti, and press Submit.", class="form-control") }}
          <div class="form-group">{{ comment_form.position(class="radio-inline", type="radio") }}
            <button id="submitcomment" type="submit" class="btn btn-default">Add testimony</button></div>
        </form>
      </div>
      <hr />
      <div class="pro"><h3>Yea</h3>
        <span>Joe  says:</span> Yep <br />
        Today<br />
        {% if bill.comments %}
          {% for comment in bill.comments %}
            <p>{{ comment.body }}</p>
          {% endfor %}
        {% endif %}
      </div>
  
      <div class="neutral"><h3>Neutral</h3>
        <span>Jill says:</span> Maybe <br />
        Yesterday<br />
      </div>
  
      <div class="anti"><h3>Nay</h3>
        <span>Mom says:</span> Nope <br />
        Tomorrow<br />
      </div>
      
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="panel-footer pagination"></div>
  </div>
</div>

#}
  
{% endblock %}

