{% block container %}

  <div class="col-md-3">
    
    
  </div>
  
  <div id="billsSort">
    <div class="col-md-5">
          
          <div class="search-filter">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="basic-addon1">¿</span>
              <input class="search form-control" type="text" placeholder="Search bill summaries" />
            </div>
            <div class="input-group" aria-label="Sort and filter bills">
              <button type="button" class="sort btn btn-default" data-sort="billsummary">Sort by name</button>
              <button type="button" class="btn btn-default" id="filter-none">Show all</button>
              <button type="button" class="btn btn-default" id="filter-senate">Only show Senate bills</button>
              <button type="button" class="btn btn-default" id="filter-house">Only show House bills</button>
            </div>
          </div>
          
          <div class="list">
          {% for bill in id_bills %}
            <div class="panel panel-default">
              <div class="panel-body">
                  
                    <div><span class="billimage"><a href={{ url_for('idleg.bills', bill_deet=bill.bill_name) }}>{% print bill.bill_id %}</a></span></div>
                    <div class="lastaction">Last Update: {% print bill.last_updated %}</div>
                    <div class="billsummary">{% print bill.title %}</div>

                
                <div class="row">

                  <div class="col-md-4">
                    <div class="detailBox">
                      <div class="titleBox">
                        <label>Proponents</label>
                      </div>
                     <div class="actionBox">
                      <ul class="yea commentList">
                      {% if bill.comments %}
                        {% for comment in bill.comments %}
                          {% if comment.comment_type == "yea" %}
                            <li>
                              <span class="commentText">
                              <p>{{ comment.body }}</p>
                              </span>
                              <span class="commenterName">
                                <p>{{ comment.username.username }}</p>
                              </span>
                              <span class="date sub-text">{{ comment.timestamp.strftime('%Y-%m-%d') }}
                              </span>
                            </li>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
                
                  <div class="col-md-4">
                    <div class="detailBox">
                      <div class="titleBox">
                        <label>Neutral</label>
                      </div>
                     <div class="actionBox">
                      <ul class="neutral commentList">
                      {% if bill.comments %}
                        {% for comment in bill.comments %}
                          {% if comment.comment_type == "neutral" %}
                              <li>
                              <span class="commentText">
                              <p>{{ comment.body }}</p>
                              </span>
                              <span class="commenterName">
                                <p>{{ comment.username.username }}</p>
                              </span>
                              <span class="date sub-text">{{ comment.timestamp.strftime('%Y-%m-%d') }}
                              </span>
                            </li>
                            {% endif %}
                        {% endfor %}
                      {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
                
                  <div class="col-md-4">
                    <div class="detailBox">
                      <div class="titleBox">
                        <label>Opponents</label>
                      </div>
                     <div class="actionBox">
                      <ul class="nay commentList">
                      {% if bill.comments %}
                        {% for comment in bill.comments %}
                          {% if comment.comment_type == "nay" %}
                              <li>
                              <span class="commentText">
                              <p>{{ comment.body }}</p>
                              </span>
                              <span class="commenterName">
                                <p>{{ comment.username.username }}</p>
                              </span>
                              <span class="date sub-text">{{ comment.timestamp.strftime('%Y-%m-%d') }}
                              </span>
                            </li>
                            {% endif %}
                        {% endfor %}
                      {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div> <!-- close comment area -->
              
              <div class="form-group">
                  <form role="form" id="comment-{{ bill.bill_id|replace(" ","") }}" class="commentForm">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="bill_num" value="{{ bill.bill_id }}" />
                    {{ comment_form.comment(rows="4", placeholder="Write comments or testimony here, select pro, neutral or anti, and press Submit.", class="form-control") }}
                    <div class="form-group">{{ comment_form.position(class="radio-inline", type="radio") }}
                      <button id="submitcomment" type="submit" class="btn btn-default">Add testimony</button></div>
                  </form>
              </div>
              
              </div>
            </div> <!-- close a bill box -->
            
          {% endfor %}

      </div>
    <div class="panel-footer pagination"></div>
  </div>
  </div>

<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

{% endblock %}
