<div class="dashboard">
  <div class="dashhead" id="dashtop">
    Legislative Dash
  </div>

  <div class="dashhead" id="login">Login</div>
 {% block container %}
  
  {% if current_user.is_authenticated %}
    <div class="loginbox">
      <div class="dashitem">
        <h3>Hey {{ user.username }}!!</h3>
         <a href="{{ url_for('idleg.logout') }}">Click here to  logout</a>
      </div>
    </div>    
    {% else %}
     <div class="dashitem">
     <div class="loginbox">
     {% include 'login_modal.html' %}
     
     <!--  <p span id="newuser"><a href="{{ url_for('idleg.login') }}">Login</a> or <a href="{{ url_for('idleg.register') }}">create new account</a>.</p> -->
    </div></div>
  {% endif %}
{% endblock %}


  <div class="dashhead" id="bills">Bills</div>
  <div class="dashitem">LOGIN...to load your bills.</div>

  <div class="dashhead" id="testimony">Comments</div>
  <div class="dashitem">... to loa comments </div> 
  <div class="dashhead" id="lawmakers">Lawmakers</div>
  <div class="dashitem">...to load your legislators.</div>
  <div class="dashhead" id="topics">Topics</div>
  <div class="dashitem">...to load your topics.</div>
  
</div>
