{ extends 'base.html' %}

<div class="dashboard">
  <div class="dashhead" id="dashtop">
    Legislative Dash
  </div>
  <div id="search">
    <form>
      <input type="submit" value="Go">
      <div>
      <input type="search" name="search" placeholder="Search bills, legislators, etc...." autocomplete="on">
      </div>
    </form>
  </div>   

  <div class="dashhead" id="login">Login</div>

{% block container %}
  {% if session.username %}
    <div class="loginbox">
      <div class="dashitem">
        <h3>Hey {{ current.user }}!!</h3>
        <a href="{{ url_for('auth.logout') }}">Click here to logout</a></div></div>
  {% else %}
    <div class="dashitem">
    <div class="loginbox">
    {% include 'login.html' %}
    <p span id="newuser">or <a href="{{ url_for('auth.register') }}">create new account</a></p>
    </div></div>
  {% endif %}
{% endblock %}


  <div class="dashhead" id="bills">Bills</div>
  <div class="dashitem">LOGIN...to load your bills.</div>

  <div class="dashhead" id="testimony">Comments</div>
  <div class="dashitem">... to loa comments </div> 
  <div class="dashhead" id="lawmakers">Lawmakers</div>
  <div class="dashitem">...to load your legislators.</div>
  <div class="dashhead" id="topics">Topics</div>
  <div class="dashitem">...to load your topics.</div>
  
</div>
