{% extends 'base.html' %}

{% block container %}

<div class="col-md-3">
    
</div>
<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="thumbnail">
        <img src="{% print id_lm_json.photo_url %}" height="150" alt="{% print id_lm_json.full_name %}">
        <div class="caption">
          <h3>{% print id_lm_json.full_name %}</h3>
          <p>{% print id_lm_json.party %}</p>
          <p>District: {% print id_lm_json.district %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
 
 <!-- Add leaflet and mapbox libraries  -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
 
{% endblock %}
