{% if not popup %}
<button id='modal-launcher' class="btn btn-primary btn-sm" data-toggle="modal" data-target="#login-modal">Sign in or register</button>
{% endif %}
<div class="modal1">

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header login_modal_header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
        </div>
        <div class="modal-body login-modal">
          <p>Idleg.info provides open Idaho legislative information to the public. Login to track bills, comment and access other features.</p><br/>
          <div class="clearfix"></div>
          <div id='social-icons-conatainer'>
            <div class='modal-body-left'>
              <form name="lform" method="POST" action="{{ url_for('idleg.login') }}" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group login-field">{{ lform.username.label }}: {{ lform.username() }}
                  <i class="fa fa-user login-field-icon"></i>
                </div>
                <div class="form-group login-field">{{ lform.password.label }}: {{ lform.password() }}
                  <i class="fa fa-lock login-field-icon"></i>
                </div>
                <button type="submit" class="btn btn-success modal-login-btn">Submit</button>
              </form>
              <a href="#" class="login-link text-center">Lost your password? [future feature]</a>
            </div>
  
            <div class='modal-body-right'>
              <div class="modal-social-icons">
                <a href="{{ url_for('idleg.facebook_login', next=url_for('idleg.home')) }}" class="btn btn-default facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
                <a href='#' class="btn btn-default twitter disabled"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
                <a href='#' class="btn btn-default google disabled"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
                <a href='#' class="btn btn-default linkedin disabled"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
                <a href='#' class="btn btn-default github disabled"> <i class="fa fa-github modal-icons"></i> Sign In with Github </a>
              </div>
            </div>
            <div id='center-line'> OR </div>
          </div>
          <div class="clearfix"></div>
        <div class="form-group modal-register-btn">
          <button id="register-launcher" class="btn btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#registration-modal">New User Please Register</button>
          </div>
          </div>
        <div class="clearfix"></div>
        <div class="modal-footer login_modal_footer"></div>
      </div>
    </div>
  </div>
</div>
  
{% include 'registration_modal.html' %}

