{% extends 'home.html' %}

{% block container %}
  <div class="top-pad">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#simple-form" data-toggle="tab">Site Login</a></li>
      <li><a href="#social-logins" data-toggle="tab">Social Logins</a></li>
    </ul>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="tab-pane" id="simple-form">
      <form method="POST" action="{{ url_for('idleg.login') }}" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">{{ form.username.label }}: {{ form.username() }}</div>
        <div class="form-group">{{ form.password.label }}: {{ form.password() }}</div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
